/* Estilo general para el header */
.top-nav {
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Color de fondo oscuro */
    color: white; /* Texto blanco para visibilidad */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000; /* Asegura que esté sobre el contenido */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

/* Estilo del logo */
.logo {
    font-size: 24px; /* Aumenta el tamaño del texto */
    font-weight: 700; /* Negrita para mejorar legibilidad */
    color: #ffffff; /* Texto blanco para visibilidad */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
}

/* Estilo de la lista de navegación */
.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li a {
    color: #000000; /* Color negro para el texto de los enlaces */
    text-decoration: none;
    font-size: 16px;
}

.menu li a:hover {
    text-decoration: underline;
}

/* Ajuste del ícono de usuario */
.user-icon i {
    font-size: 24px; /* Tamaño del ícono */
    color: #ffffff; /* Asegura que el ícono sea visible en un fondo oscuro */
}

/* Estilo del menú desplegable */
.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px #0606061a;
    width: 150px;
    z-index: 1000;
}

.dropdown-menu button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    text-align: left;
}

.dropdown-menu button:hover {
    background-color: #a09b9b;
}

.dropdown-menu button:focus {
    outline: none;
}

/* Ajuste para que el contenido no quede oculto bajo el header fijo */
.content {
    margin-top: 70px; /* Ajusta este valor según la altura del header */
}
